<p>
  <strong>Title</strong>
  <%= @blog.description %>
</p>
  <h2>Comments</h2>
  <%= render @blog.comments %>
      <h2> Add a Comment: </h2>
      <%= form_with(model: [ @blog, @blog.comments.build], local: true) do |form| %>
<p>
        <%= form.label :commenter %><br>
        <%= form.text_field :commenter %>
      </p>
      <p>
        <%= form.label :body %><br>
        <%= form.text_area :body %>
      </p>
      <p>
        <%= form.submit %>
      </p>
    <% end %>
  <%= link_to 'Back', blogs_path %><br>
  <br><strong>Page Views</strong>
  <%= @blog.impressionist_count %>

  <span class="pull-right">
  <%= link_to '', like_blog_path(@blog, like: true), method: :post%>
  <%= @blog.likes.size %> likes
  </span>
<%= link_to like_blog_path(@blog), method: :put, remote: :true, class: 'like-post' do  %>
  <div class="like-button">
    <%= image_tag('like.png',alt: 'like me') %>
  </div>
<% end %>


